<div
  [ngClass]="sidebarToggle() ? 'translate-x-0 lg:w-[90px]' : '-translate-x-full lg:w-[260px]'"
  class="sidebar fixed left-0 top-0 z-9999 flex h-screen w-[290px] flex-col overflow-y-hidden border-r border-gray-200 bg-gray-50 px-5 lg:static lg:translate-x-0"
>
  <div
    [ngClass]="sidebarToggle() ? 'justify-center' : 'justify-between'"
    class="flex items-center gap-2 pt-8 sidebar-header pb-7"
  >
    <a routerLink="/">
      <span class="logo" [ngClass]="sidebarToggle() ? 'hidden' : ''">
        <img class="dark:hidden" src="images/logo.svg" alt="Logo" />
      </span>

      <img
        class="logo-icon"
        [ngClass]="sidebarToggle() ? 'lg:block' : 'hidden'"
        src="images/logo.svg"
        alt="Logo"
      />
    </a>
  </div>
  <div class="flex flex-col overflow-y-auto duration-300 ease-linear no-scrollbar">
    <nav>
      <ul class="flex flex-col gap-4 mb-6">
        <li>
          <a routerLink="/" class="menu-item menu-item-active cursor-pointer">
            <img src="images/svgs/left-nav/dashboard.svg" alt="" class="w-8 h-8" />

            <span class="menu-item-text uppercase" [ngClass]="sidebarToggle() ? 'lg:hidden' : ''">
              Dashboard
            </span>
          </a>
        </li>
        <li>
          <a routerLink="/customer-info" class="menu-item">
            <img src="images/svgs/left-nav/customer-management.svg" alt="" class="w-8 h-8" />
            <span class="menu-item-text uppercase" [ngClass]="sidebarToggle() ? 'lg:hidden' : ''">
              Customer Info
            </span>
          </a>
        </li>
        <li>
          <a routerLink="/all-tickets" class="menu-item">
            <img src="images/svgs/left-nav/ticket.svg" alt="" class="w-8 h-8" />

            <span class="menu-item-text uppercase" [ngClass]="sidebarToggle() ? 'lg:hidden' : ''">
              All Tickets
            </span>
            <span
              aria-hidden="true"
              class="inline-flex items-center justify-center w-8 h-8 p-1 text-xs font-medium text-fg-danger-strong bg-danger-soft border border-green-300 rounded-full text-green-600"
              >20+</span
            >
          </a>
        </li>
        <li>
          <a routerLink="#" class="menu-item">
            <img src="images/svgs/left-nav/support.svg" alt="" class="w-8 h-8" />

            <span class="menu-item-text uppercase" [ngClass]="sidebarToggle() ? 'lg:hidden' : ''">
              Support System
            </span>
          </a>
        </li>
        <li>
          <a routerLink="#" class="menu-item">
            <img src="images/svgs/left-nav/reports.svg" alt="" class="w-8 h-8" />

            <span class="menu-item-text uppercase" [ngClass]="sidebarToggle() ? 'lg:hidden' : ''">
              Reports
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
