<div class="w-full">
  <header class="border-b border-gray-200 mb-4">
    <div class="flex justify-between items-center mb-3">
      <div class="flex items-center">
        <div class="pr-1">
          <h2 class="text-xl leading-snug font-bold">Ask AI</h2>
          <p class="block text-sm font-medium hover:text-indigo-500">What you need to know ?</p>
        </div>
      </div>
      <div class="relative inline-flex shrink-0">
        <button
          class="text-gray-400 hover:text-gray-500 rounded-full focus:ring-0 outline-none focus:outline-none"
        >
          <span class="sr-only">Close</span>
          <img src="images/svgs/close.svg" class="w-8 h-8" alt="" />
        </button>
      </div>
    </div>
  </header>
  <div class="grid pb-11">
    <div class="flex gap-2.5 mb-4">
      <div class="grid">
        <h5 class="text-gray-900 text-sm font-semibold leading-snug pb-1">AI Bot</h5>
        <div class="w-max grid">
          <div class="px-3.5 py-2 bg-gray-100 rounded justify-start items-center gap-3 inline-flex">
            <h5 class="text-gray-900 text-sm font-normal leading-snug">
              Hi, Nancy, How can I help you today?
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-full pl-3 pr-1 py-1 rounded-3xl border border-gray-200 items-center gap-2 inline-flex justify-between"
  >
    <div class="flex items-center gap-2">
      <input
        class="grow shrink basis-0 text-black text-xs font-medium leading-4 focus:outline-none"
        placeholder="Ask me anything..."
      />
    </div>
    <div class="flex items-center gap-2">
      <button class="items-center flex px-3 py-2 bg-indigo-600 rounded-full shadow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <g id="Send 01">
            <path
              id="icon"
              d="M9.04071 6.959L6.54227 9.45744M6.89902 10.0724L7.03391 10.3054C8.31034 12.5102 8.94855 13.6125 9.80584 13.5252C10.6631 13.4379 11.0659 12.2295 11.8715 9.81261L13.0272 6.34566C13.7631 4.13794 14.1311 3.03408 13.5484 2.45139C12.9657 1.8687 11.8618 2.23666 9.65409 2.97257L6.18714 4.12822C3.77029 4.93383 2.56187 5.33664 2.47454 6.19392C2.38721 7.0512 3.48957 7.68941 5.69431 8.96584L5.92731 9.10074C6.23326 9.27786 6.38623 9.36643 6.50978 9.48998C6.63333 9.61352 6.72189 9.7665 6.89902 10.0724Z"
              stroke="white"
              stroke-width="1.6"
              stroke-linecap="round"
            />
          </g>
        </svg>
        <h3 class="text-white text-xs font-semibold leading-4 px-2">Send</h3>
      </button>
    </div>
  </div>
</div>
