<header class="sticky top-0 z-99999 flex w-full border-black/20 bg-gray-50 border-b">
  <div class="flex grow flex-col items-center justify-between lg:flex-row lg:px-6">
    <div
      class="flex w-full items-center justify-between gap-2 border-b border-black/20 px-3 py-3 sm:gap-4 lg:justify-normal lg:border-b-0 lg:px-0 lg:py-"
    >
      <bee-toggle-menu />
      <div class="justify-end">
        <bee-ask-ai />
      </div>
    </div>

    <div
      class="shadow-theme-md w-full items-center justify-between gap-4 px-5 py-4 lg:flex lg:justify-end lg:px-0 lg:shadow-none"
    >
      <div class="hidden lg:block">
        <bee-search-bar></bee-search-bar>
      </div>
      <div class="relative">
        <div class="flex items-center text-gray-700 dark:text-gray-400 cursor-pointer">
          <span class="mr-3 h-12 w-12 overflow-hidden rounded-full border-4 border-green-800/20">
            <img src="images/nancy.jpeg" alt="Angular logo" />
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
