@use '../../styles/variables' as variables;
.chart-container {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  li {
    padding: 12px 2px;
  }
}

.chart-info {
  display: flex;
  flex-direction: column;
}

.user-info {
  display: flex;
  flex: 1;
}
.chart {
  display: flex;
  flex: 2;
}
