<bee-title [headerText]="'Dashboard'"></bee-title>
<div class="grid grid-cols-12 gap-4 md:gap-6">
  <div class="col-span-12 xl:col-span-3 pt-8">
    <bee-welcome-banner></bee-welcome-banner>
  </div>
  <div class="col-span-12 space-y-6 xl:col-span-9">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 xl:col-span-9 pt-8">
        <bee-metrics-charts></bee-metrics-charts>
      </div>
      <div class="col-span-12 xl:col-span-3 pt-8">
        <bee-monthly-sales-chart></bee-monthly-sales-chart>
      </div>
    </div>
    <bee-table></bee-table>
  </div>
</div>
