$prefix: 'bee';
$content-width: 85.37rem;
$gray-22: #838383;
$white: #fffffe;
$gray-light: #d3d3d3;
$primary-accent: #0a99ff;
$secondary-purple: #6b78fa;
$secondary-green: #5fd9bf;

$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
$main-color: #fff;
$soft-color: #ddd;
$dark-color: #2a3447;
