.home {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(160px, auto);
}

.item {
  padding: 20px;
  border: 1px solid #cecece;
}

.item-1 {
  grid-column: span 1;
  grid-row: span 3;
}

.item-4 {
  grid-column: span 1;
  grid-row: span 3;
}

.item-7 {
  grid-column: span 2;
  grid-row: span 2;
}
