@use '../../styles/variables' as variables;
.topbox {
  padding: 0;
  margin: 0;
  li {
    padding: 12px 2px;
  }
}

.user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
