@use '../../styles/variables' as variables;
.top-navbar {
  background-color: variables.$main-bg;
  padding: 12px;
  .logo-container {
    width: 20%;
  }
  .logo {
    width: 40px;
  }
  ul {
    li {
      padding: 2px 16px;
      color: variables.$white;
    }
  }
}
