@use '../../styles/variables' as variables;
.sidebar {
  background-color: rgb(0, 7, 61);
  padding: 0;
  margin: 0;
  li {
    padding: 12px 2px;
  }
}

.hamburger-icon {
  font-size: 1.5rem;
  color: #fff;
}
