@use '../../styles/variables' as variables;
.sidebar {
  background-color: rgb(0, 7, 61);
  padding: 0;
  margin: 0;
  li {
    padding: 12px 2px;
  }
}

.hamburger-icon {
  font-size: 1.5rem;
  color: #fff;
}

.sidenav-item {
  padding: 10px;
  display: flex;
  gap: 10px;
  border-left: 5px solid transparent;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    border-left: 5px solid #fff;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    background: rgb(45, 51, 89);
  }
}
