@use '../../styles/variables' as variables;
.data-table {
  padding: 20px;
  .MuiDataGrid-toolbarContainer {
    flex-direction: row-reverse;
  }
  img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
  }
}
